@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url("../images/1_landing_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  font-family: "Playpen Sans", cursive;
  .modal-container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;
    .banner-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      height: 100%;
      background-image: linear-gradient(315deg, #a3aff3 0%, #f4f8f6 100%);
      text-align: center;
      color: #6544ed;
      h1 {
        margin-bottom: 15px;
        text-shadow: #a3aff3 4px 2px 2px;
        font-size: 48px;
        font-family: "Leckerli One", cursive;
      }
      p {
        padding: 0 50px;
        color: #3c493f;
      }
    }
    .login-signup-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 40px;
      width: 50%;
      background: #f5f5f5;
      img {
        align-self: center;
        margin-bottom: 10px;
        width: 100px;
      }
      .login-container {
        display: flex;
        flex-direction: column;
        input {
          padding: 12px 20px;
          border: 2px solid #d8d8d8;
          border-radius: 4px;
          outline: none;
          height: 45px;
          font-size: 16px;
          font-family: inherit;
          color: #3d3d3d;
        }
        .email {
          margin-bottom: 10px;
        }
        button {
          margin: 15px 0;
          padding: 10px 20px;
          border: 0.1px solid #64aafe;
          border-radius: 4px;
          height: 45px;
          background: #64aafe;
          font-size: 16px;
          font-weight: 700;
          font-family: inherit;
          color: #f5f5f5;
          cursor: pointer;
        }
        p {
          border-bottom: 2px solid #d8d8d8;
        }
      }
      .signup-container {
        margin-top: 20px;
        padding: 2px;
        text-align: center;
        color: #3d3d3d;
        a {
          text-decoration: none;
          font-weight: 700;
          color: #50a0fe;
        }
      }
    }
  }
}
